<!DOCTYPE html>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/css/highcharts.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.6.0/vue-router.min.js"></script>
<title>Dashboard</title>
<div class="container" id="app">
    <h1>Dashboard</h1>
    <form class="form form-inline" @submit.prevent="fetchRelease">
        <input class="form-control col-md-3" type="text" placeholder="Distribution name" v-model="dist">
        <select class="form-control col-md-3" name="versions" v-model="size">
            <option value="0">all</option>
            <option value="50">50</option>
            <option value="25">25</option>
            <option value="10" selected>10</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-primary">Refresh</button>
    </form>
    <div id="release-chart" style="width: 100%; height: 400px"></div>
    <h2 v-show="version">{{version}}</h2>
    <div id="list" v-show="summary.length">
        <div style="display: flex">
            <div id="os-linux" style="width: 32%; height: 300px"></div>
            <div id="os-win" style="width: 32%; height: 300px"></div>
            <div id="os-osx" style="width: 32%; height: 300px"></div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Grade</th>
                    <th>Perl</th>
                    <th>OS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="s in summary">
                    <td :class="_gradeClass(s.grade)">{{ s.grade }}</td>
                    <td>{{ s.perl }}</td>
                    <td>{{ s.osname }}</td>
                    <td>[<a :href="'http://www.cpantesters.org/cpan/report/' + s.guid">Text</a>]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>

var vm = new Vue({
    el: '#app',
    data: function () {
        var self = this;
        var params = (new URL(document.location)).searchParams;
        var obj = {
            version: params.get( 'version' ),
            dist: params.get( 'dist' ),
            size: 10,
            summary: []
        };
        if ( obj.dist ) {
            setTimeout( function () { self.fetchRelease(); }, 10 );
        }
        if ( obj.version ) {
            setTimeout( function () { self.fetchSummary(); }, 10 );
        }
        return obj;
    },
    methods: {

        _gradeClass: function ( grade ) {
            return {
                pass: 'bg-success',
                fail: 'bg-danger',
                na: 'bg-info',
                unknown: 'bg-warning'
            }[ grade ];
        },

        fetchSummary: function () {
            var self = this;

            history.pushState(
                { dist: this.dist, version: this.version },
                "",
                "?dist=" + this.dist + "&version=" + this.version
            );

            $.getJSON( 'http://api.cpantesters.org/v3/summary/' + this.dist + '/' + this.version, function (data ) {
                self.summary = data;

                var osnames = {
                    linux: { id: "os-linux", title: 'Linux' },
                    MSWin32: { id: "os-win", title: 'Windows' },
                    darwin: { id: "os-osx", title: 'MacOSX' }
                };

                for ( var os in osnames ) {
                    var series = { pass: [], fail: [], na: [], unknown: [] };
                    for ( var i = 0; i < data.length; i++ ) {
                        if ( data[i].osname == os ) {
                            series[ data[i].grade ]++;
                        }
                    }
                    var myChart = Highcharts.chart( osnames[os]['id'], {
                        chart: {
                            type: 'pie',
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        title: {
                            text: osnames[os]['title']
                        },
                        series: [{
                            name: 'Reports',
                            colorByPoint: true,
                            data: [
                                { name: 'Pass', y: series.pass },
                                { name: 'Fail', y: series.fail },
                                { name: 'NA', y: series.na },
                                { name: 'Unknown', y: series.unknown }
                            ]
                        }]
                    });
                }
            } );
        },

        fetchRelease: function ( ) {
            if ( !this.dist ) { return; }
            var self = this;

            var show_versions = this.size;
            $.getJSON('http://api.cpantesters.org/v3/release/dist/' + this.dist, function (data) {
                var sorted = data.sort( function (a, b) { return a.version < b.version ? -1 : a.version > b.version ? 1 : 0 } );
                if ( show_versions ) {
                    sorted = sorted.slice( -show_versions );
                }
                var versions = sorted.map( function (d) { return d.version } );
                var series = { pass: [], fail: [], na: [], unknown: [] };
                for ( var i = 0; i < sorted.length; i++ ) {
                    series.pass.push( sorted[i].pass );
                    series.fail.push( sorted[i].fail );
                    series.na.push( sorted[i].na );
                    series.unknown.push( sorted[i].unknown );
                }
                var myChart = Highcharts.chart('release-chart', {
                    chart: {
                        type: 'column',
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            events: {
                                click: function ( event ) {
                                    self.version = event.point.category;
                                    self.fetchSummary();
                                }
                            }
                        }
                    },
                    title: {
                        text: 'Report Summary'
                    },
                    xAxis: {
                        title: { text: 'Version' },
                        categories: versions
                    },
                    yAxis: {
                        title: {
                            text: 'Reports by Grade'
                        }
                    },
                    series: [
                        { name: 'Pass', data: series.pass },
                        { name: 'Fail', data: series.fail },
                        { name: 'NA', data: series.na },
                        { name: 'Unknown', data: series.unknown }
                    ]
                });
            });
        }
    }
});

window.onpopstate = function (event) {
    vm.dist = event.state.dist;
    if ( vm.dist ) {
        vm.fetchRelease();
    }
    vm.version = event.state.version;
    if ( vm.version ) {
        vm.fetchSummary();
    }
};

</script>

