<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/css/highcharts.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.6.0/vue-router.min.js"></script>
<title>Dashboard</title>
<div class="container" id="app">
    <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h1>Dashboard</h1>
        <p style="vertical-align: middle"><i class="fa fa-2x fa-info-circle text-info" aria-hidden="true"></i> Click a version bar to see reports for that version</p>
    </div>
    <form class="form form-inline" @submit.prevent="fetchRelease">
        <input class="form-control col-md-3" type="text" placeholder="Distribution name" v-model="dist">
        <select class="form-control col-md-3" name="versions" v-model="size">
            <option value="0">all</option>
            <option value="50">50</option>
            <option value="25">25</option>
            <option value="10" selected>10</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-primary">Refresh</button>
    </form>

    <div style="position: relative; width: 100%; height: 400px;">
        <div v-show="fetchingRelease" style="opacity: 0.8; background-color: white; position: absolute; z-index: 10; left: 0; top: 0; bottom: 0; right: 0;
        display: flex; flex: 1 1; align-items: center; justify-content: center">
            <i style="display: flex-item; color: #ccc; font-size: 1500%" class="fa fa-spinner fa-pulse fa-fw"></i>
        </div>
        <div id="release-chart" style="width: 100%; height: 400px"></div>
    </div>

    <div v-show="version" style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2>{{version}}</h2>
        <p style="vertical-align: middle"><i class="fa fa-2x fa-info-circle text-info" aria-hidden="true"></i> Click a pie piece to show reports for that OS/grade</p>
    </div>
    <div style="position: relative; height: 300px">
        <div v-show="fetchingSummary" style="opacity: 0.8; background-color: white; position: absolute; z-index: 10; left: 0; top: 0; bottom: 0; right: 0;
        display: flex; flex: 1 1; align-items: center; justify-content: center">
            <i style="display: flex-item; color: #ccc; font-size: 1500%" class="fa fa-spinner fa-pulse fa-fw"></i>
        </div>
        <div style="display: flex" v-show="summary.length">
            <div id="os-linux" style="width: 32%; height: 300px"></div>
            <div id="os-win" style="width: 32%; height: 300px"></div>
            <div id="os-osx" style="width: 32%; height: 300px"></div>
        </div>
    </div>

    <table v-show="summary.length" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 1.4em"></th>
                <th>Grade</th>
                <th>Perl</th>
                <th>Platform</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="s in filteredSummaryRows()">
                <td style="text-align: center"><a :href="'http://www.cpantesters.org/cpan/report/' + s.guid" title="View full report"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                <td :class="_gradeClass(s.grade)">{{ s.grade }}</td>
                <td>{{ s.perl }}</td>
                <td>{{ s.platform }}</td>
            </tr>
        </tbody>
    </table>

</div>
<script>

var vm = new Vue({
    el: '#app',
    data: function () {
        var self = this;
        var params = (new URL(document.location)).searchParams;
        var obj = {
            version: params.get( 'version' ),
            dist: params.get( 'dist' ),
            size: 10,
            summary: [],
            fetchingRelease: false,
            fetchingSummary: false,
            chart: {},
            summaryFilter: { }
        };
        if ( obj.dist ) {
            setTimeout( function () { self.fetchRelease({ replace: false }); }, 10 );
        }
        if ( obj.version ) {
            setTimeout( function () { self.fetchSummary(); }, 10 );
        }
        return obj;
    },
    methods: {

        _gradeClass: function ( grade ) {
            return {
                pass: 'bg-success',
                fail: 'bg-danger',
                na: 'bg-info',
                unknown: 'bg-warning'
            }[ grade ];
        },

        filteredSummaryRows: function () {
            var f = this.summaryFilter;
            if ( !f.osname && !f.grade ) {
                return this.summary;
            }
            return this.summary.filter( function ( r ) { return r.osname == f.osname && r.grade == f.grade } );
        },

        fetchSummary: function () {
            var self = this;
            self.summary = [];
            self.fetchingSummary = true;

            history.pushState(
                { dist: this.dist, version: this.version },
                "",
                "?dist=" + this.dist + "&version=" + this.version
            );

            $.getJSON( 'http://api.cpantesters.org/v3/summary/' + this.dist + '/' + this.version, function (data ) {
                self.fetchingSummary = false;
                self.summary = data;

                var osnames = {
                    linux: { id: "os-linux", title: 'Linux' },
                    MSWin32: { id: "os-win", title: 'Windows' },
                    darwin: { id: "os-osx", title: 'MacOSX' }
                };

                for ( var os in osnames ) {
                    var series = { pass: [], fail: [], na: [], unknown: [] };
                    var count = 0;
                    for ( var i = 0; i < data.length; i++ ) {
                        if ( data[i].osname == os ) {
                            series[ data[i].grade ]++;
                            count++;
                        }
                    }
                    self.chart[ os ] = Highcharts.chart( osnames[os]['id'], {
                        defs: {
                            osname: os
                        },
                        chart: {
                            type: 'pie',
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true,
                                events: {
                                    click: function ( event ) {
                                        if ( event.point.selected ) {
                                            self.summaryFilter = {};
                                            return;
                                        }

                                        // clear all other filters
                                        for ( var name in self.chart ) {
                                            var points = self.chart[ name ].getSelectedPoints();
                                            for ( var j = 0; j < points.length; j++ ) {
                                                points[j].select( false, false );
                                            }
                                        }

                                        // set this filter
                                        self.summaryFilter = {
                                            osname: event.point.osname,
                                            grade: event.point.grade,
                                        };
                                    }
                                }
                            }
                        },
                        title: {
                            text: osnames[os]['title'] + ' (' + count + ')'
                        },
                        series: [{
                            name: 'Reports',
                            colorByPoint: true,
                            data: [
                                { name: 'Pass', y: series.pass, grade: "pass", osname: os },
                                { name: 'Fail', y: series.fail, grade: "fail", osname: os },
                                { name: 'NA', y: series.na, grade: "na", osname: os },
                                { name: 'Unknown', y: series.unknown, grade: "unknown", osname: os }
                            ]
                        }]
                    });
                }
            } );
        },

        fetchRelease: function ( opt ) {
            if ( !this.dist ) { return; }
            var self = this;
            self.fetchingRelease = true;

            if ( opt.replace !== false ) {
                this.version = null;
                this.summary = [];
            }

            history.pushState(
                { dist: this.dist },
                "",
                "?dist=" + this.dist
            );

            var show_versions = this.size;
            $.getJSON('http://api.cpantesters.org/v3/release/dist/' + this.dist, function (data) {
                self.fetchingRelease = false;
                var sorted = data.sort( function (a, b) { return a.version < b.version ? -1 : a.version > b.version ? 1 : 0 } );
                if ( show_versions ) {
                    sorted = sorted.slice( -show_versions );
                }
                var versions = sorted.map( function (d) { return d.version } );
                var series = { pass: [], fail: [], na: [], unknown: [] };
                for ( var i = 0; i < sorted.length; i++ ) {
                    series.pass.push( sorted[i].pass );
                    series.fail.push( sorted[i].fail );
                    series.na.push( sorted[i].na );
                    series.unknown.push( sorted[i].unknown );
                }
                var myChart = Highcharts.chart('release-chart', {
                    chart: {
                        type: 'column',
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            events: {
                                click: function ( event ) {
                                    self.version = event.point.category;
                                    self.fetchSummary();
                                }
                            }
                        }
                    },
                    title: {
                        text: 'Report Summary'
                    },
                    xAxis: {
                        title: { text: 'Version' },
                        categories: versions
                    },
                    yAxis: {
                        title: {
                            text: 'Reports by Grade'
                        }
                    },
                    series: [
                        { name: 'Pass', data: series.pass },
                        { name: 'Fail', data: series.fail },
                        { name: 'NA', data: series.na },
                        { name: 'Unknown', data: series.unknown }
                    ]
                });
            });
        }
    }
});

window.onpopstate = function (event) {
    vm.dist = event.state.dist;
    if ( vm.dist ) {
        vm.fetchRelease({ replace: false });
    }
    vm.version = event.state.version;
    if ( vm.version ) {
        vm.fetchSummary();
    }
};

</script>

