
body {
    margin-top: 60px;
}

/*******************************************
 * User Inbox styles
 */
.inbox .unread td {
    font-weight: bold;
    background-color: #eef;
}

.message article {
    border-bottom: 3px solid #eee;
    margin-bottom: 1em;
}


#popular tr th:first-child {
    min-width: 150px;
}

.loading-content {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 1em;
    overflow: hidden;
    border: 1px solid rgb(220, 224, 227);
    background-color: rgb(240, 244, 247);
}
.loading-content:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    animation: load 1s 1s infinite;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.loading-content.small-graph, .small-graph {
    height: 300px;
    width: 25%;
}
.flex {
    display: flex;
    width: 100%;
}
.flex-justify {
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.bg-unknown {
    background: #f6ddc3;
}


@keyframes load {
    from {
        left: -100px;
    }
    to {
      left: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #popular tr th:first-child {
        min-width: auto;
    }
}
