
body {
    margin-top: 60px;
}

/*******************************************
 * User Inbox styles
 */
.inbox .unread td {
    font-weight: bold;
    background-color: #eef;
}

.message article {
    border-bottom: 3px solid #eee;
    margin-bottom: 1em;
}


#popular tr th:first-child {
    min-width: 150px;
}

@media only screen and (max-width: 600px) {
    #popular tr th:first-child {
        min-width: auto;
    }
}
